@model IEnumerable<WebApplication2rrr.Models.Phone>
@{
    ViewData["Title"] = "Каталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin: 0;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }



    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .1875rem;
    }

    .card-img-actions {
        position: relative;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        text-align: center;
    }

    .card-img {
        width: 350px;
    }

    .star {
        color: red;
    }

    .bg-cart {
        background-color: orange;
        color: #fff;
    }

        .bg-cart:hover {
            color: #fff;
        }

    .bg-buy {
        background-color: green;
        color: #fff;
        padding-right: 29px;
    }

        .bg-buy:hover {
            color: #fff;
        }

    a {
        text-decoration: none !important;
    }
</style>
<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Список товаров</p>
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
    @foreach (var phone in Model)
    {
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img src="@phone.Url" class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">@phone.Name</a>
                        </h6>
                        <a href="#" class="text-muted" data-abc="true">@phone.Company</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">@phone.Price₽</h3>
                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">2500 просмотров</div>
                    <form action="~/Buy/GetBuy/@phone.PhoneId" target="_blank">
                        <button type="submit" class="btn btn-primary"> Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
    }
    </div>
</div>


