<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <style>
        body {
            margin: 0;
        }

        .mt-50 {
            margin-top: 50px;
        }

        .mb-50 {
            margin-bottom: 50px;
        }



        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .1875rem;
        }

        .card-img-actions {
            position: relative;
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
            text-align: center;
        }

        .card-img {
            width: 350px;
        }

        .star {
            color: red;
        }

        .bg-cart {
            background-color: orange;
            color: #fff;
        }

            .bg-cart:hover {
                color: #fff;
            }

        .bg-buy {
            background-color: green;
            color: #fff;
            padding-right: 29px;
        }

            .bg-buy:hover {
                color: #fff;
            }

        a {
            text-decoration: none !important;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">pp7</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 ms-3">
                        <li class="nav-item ps-3">
                            <a class="nav-link" asp-action="index" asp-controller="Home">Каталог</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link" asp-action="index" asp-controller="Auth">Вход</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link" asp-controller="Registration" asp-action="Index">Регистрация</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="index" asp-controller="PersonalCabinet">Личный кабинет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="m-4">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - pp7 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
